body {
    margin: 0;
	font-family:  Nunito, 'Open Sans', Arial;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

/* ============== Header ============= */
.container {
	width: 100%;
	
}
.content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.header-container {
	background-color: black;
	border-bottom: 1px solid white;
}
.header-content {
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.header-logo,.header-nav {
	line-height: 70px;
	margin: 0px 20px;
}
.header-logo {
	color: white;
	font-size: 2rem;
}
.header-logo-span {
	color: #ea8f4c;
	font-weight: 400;
}

.header-nav-link {
	color: white;
	margin-right: 25px;
}
.header-nav-link:last-child {
	margin-right: 0px;
}

/* ============== Home ============= */

.home-container {
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}
.home-overlay,.design-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	background-image: url("img/logo.jpg");
	z-index: 5;
}

.home-content {
	position: relative;
	padding: 100px 0px;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}

.home-text {
	color: white;
	margin: 0px 20px;
	width: 50%;
}

.home-heading {
	font-size: 3.5rem;
	margin-bottom: 10px;
}
.home-heading-span {
	color: #ea8f4c;
	font-weight: 400px;
}

.home-heading2 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 20px;
}

.home-line {
	height: 1px;
	width: 10%;
	background-color: white;
	margin-bottom: 20px;
}
.home-par {
	font-weight: 300;
	line-height: 1.8;
	margin-bottom: 50px;
}
.home-link, .design-link {
	color: white;
	border: 2px solid white;
	padding: 10px 25px;
}

.home-link:hover, .design-link:hover {
	color: black;
	background-color: white;
}

.home-form-container {
	width: 40%;
	align-self: center;
	background-color: white;
	margin: 0px 20px; 
}
.home-form-heading {
	padding: 15px 25px;
	text-align: center;
	background-color: lightgrey;
}
.home-form-span {
	text-transform: uppercase;
	color: #ea8f4c;
}

.home-form-input, .contact-form-input {
	border: none;
	width: calc(100% - 105px);
	margin: 20px 40px;
	padding: 10px 10px;
	font-size: 1rem;
	border: 2px solid white;
	border-bottom: 2px solid grey;
}
.home-form-input:focus, .contact-form-input:focus {
	outline: none;
	border: 2px solid #d6d6d6;	
}
.home-form-input:last-of-type {
	margin-bottom: 50px;
}
.home-form-submit {
	width: 100%;
	background-color: #ea8f4c;
	text-align: center;
	border: none;
	display: block;
	color: white;
	font-size: 1rem;
	padding: 15px 0px;
	cursor: pointer;
}

.home-form-submit:hover {
	background-color: #000000;
}

/* === Brand Bar (Social Media) === */
.social-container {
	border-bottom: 1px solid grey;
}

.social-text {
	width: 40%;
	margin: 0px 20px;
}

.social-content {
	padding: 20px 0px;
	display: flex;
}

.social-heading {
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.social-par {
	font-size: 0.9rem;
	color: grey;
}

.social-icons {
	margin: 0px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
}
.social-icons-link {
	color: grey;
	font-size: 2rem;
}
.social-icons-link:hover {
	color: rgba(0,0,0,0.6);
}

/* ========== Features1 (Tabs) ========= */
.tabs-container {
	background-color: white;
	position: relative;
	overflow: hidden;
}

.tabs-content {
	position: relative;
	padding: 155px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabs-column {
	width: calc(100% - 40px);
	margin-bottom: 40px;
}

.tabs-column1 {
	position: absolute;
	top: 145px;
	left: 20px;
	z-index: 100;
}

.tabs-column1-box {
	padding: 25px 25px;
	width: 50px;
	height: 45px;
    line-height: 45px;
	background-color: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
	cursor: pointer;
	border-bottom: 1px solid #fff;
    font-family: "Open Sans";
}

.tabs-border-radius {
	border-radius: 3px 3px 0px 0;
}

.tabs-border-radius2 {
	border-radius: 0px 0px 3px 3px;
}

.active {
	background-color: #ea8f4c;
}

.tabs-column1-box:hover {
	background-color: #ea8f4c;
}

.tabs {
	will-change: transform;
	transition: transform 1s;
	border-radius: 5px 5px 0;
}

.tab {
	display: flex;
	width: 100%;
}

.tabs-column2 {
	flex: 5;
	margin: 0px 20px;
	margin-left: 150px;
}

.tabs-column2-heading {
	font-size: 1.3rem;
	margin-bottom: 30px;
    text-align: center;
}

.tabs-column3 {
	margin: 0px 20px 0px 4%;
	flex: 3;
}
.tabs-column3-img {
	max-width: 100%;
}

.tabs-column2-text {
	color: gray;
	margin-bottom: 35px;
	margin-left: 45px;
	line-height: 1.7;
	font-size: 13px;
}

.tabs-column2-link {
	padding: 10px 20px;
	margin-top: 140px;
	margin-left: 100px;
	color: white;
	font-weight: 600;
	background-color: #ea8f4c;
	border-radius: 4px;
    cursor: pointer;
}

.tabs-column2-link:hover {
	background-color: #000000;
}

/* ======= Features2 (Sublist) ======== */

.sublist-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sublist-img-container {
	width: 45%;
}
.sublist-img {
	max-width: 100%;
	margin-left: 20px;
}
.sublist-text {
	width: 45%;
	margin-right: 20px;
}

.sublist-heading {
	font-size: 1.3rem;
	margin-bottom: 20px;
}
.sublist-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 20px;
}
.sublist-par {
	color: grey;
	line-height: 1.7;
	margin-bottom: 20px;
}
.sublist-box {
	display: flex;	
	margin-bottom: 30px;
}

.sublist-box-img-container {
	margin-right: 30px;
}
.sublist-box-title {
	margin-bottom: 5px;
	font-weight: 600;
}
.sublist-box-par {
	color: grey;
	line-height: 1.7;
}

/* ======= Features3 (Picture) ======== */
.picture-container {
	background-color: white;
}

.picture-content {
    flex-direction: column;
    padding: 40px 0px;     
	display: flexbox;
	justify-content: space-between;
	align-items: center;
}

.picture-text {
    width: calc(100% - 10%);
	float: left;
	width: 50%;    
}

.picture-img-container {
    width: calc(100% - 100%);
	margin-right: 20px;
    max-width: 100px;
    height: auto;
}

.picture-heading {
	font-size: 1.3rem;
	margin-bottom: 20px;
}

.picture-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 20px;
}

.picture-par {
	color: grey;
	line-height: 1.7;
	margin-bottom: 20px;
}

/* ======= Our Process (Awesome) ====== */
.awesome-content {
	padding: 70px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.awesome-heading {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.awesome-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 30px;
}

.awesome-text {
	line-height: 1.7;
	margin-bottom: 70px;
	text-align: center;
    color: gray;
}

.awesome-box-container {
	display: flex;
	justify-content: space-around;
	margin: 0px 20px;
}

.awesome-box {
	width: 30%;
}

.awesome-box-img {
	margin-left: calc(50% - 35px);
	margin-bottom: 20px;
}

.awesome-box-heading {
	text-align: center;
	margin-bottom: 20px;
}

.awesome-box-text {
	text-align: center;
	margin-bottom: 20px;
	line-height: 1.7;
	font-size: 0.85rem;
    color: gray;
}

/* ============== Pricing ============= */
.pricing-content {
	padding: 40px 0px;
	align-items: center;
}

.pricing-heading {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.pricing-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 30px;
	margin-left: auto;
    margin-right: auto;
}

.pricing-text {
	color: grey;
	line-height: 1.7;
	margin-bottom: 70px;
	text-align: center;
}

.pricing-container {
	background-color: white;
}

.pricing-box-container {
	display: flex;
	justify-content: space-around;
	margin: 0px 20px;
	width: calc(100% - 40px);
	align-items: flex-end;
}

.pricing-box {
	width: 30%;
	text-align: center;
}

.pricing-box-heading {
	color: white;
	background-color: #333333;
	padding: 10px 0px;
	margin-bottom: 1px;
}

.pricing-box-number {
	padding: 10px 0px;
	font-size: 3.5rem;
	background-color: #333333;
	color: white;
	font-weight: 700;
}

.pricing-dollar {
	font-weight: 600;
	font-size: 1.7rem;
}

.pricing-box-title {
	background-color: #333333;
	color: rgba(255,255,255, 0.7);
	font-style: italic;
	font-weight: 500;
	font-size: 0.8rem;
	padding-bottom: 20px;
	border-bottom: 5px solid #ff8b38;
}

.pricing-no-border {
	border: none;
}

.pricing-box-text {
	color: rgba(0,0,0, 0.5);
	font-size: 0.9rem;
	padding: 10px 0px;
	text-transform: uppercase;
	background-color: white;
	margin-bottom: 1px;
}

.pricing-box-title2 {
	color: white;
	padding: 10px 0px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8rem;
	background-color: #ff8b38;
}

/* =========== Testimonials  ========== */
.testimonials-content {
	padding: 70px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials-heading {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.testimonials-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 30px;
}

.testimonials-text {
	color: grey;
	line-height: 1.7;
	margin-bottom: 70px;
	text-align: center;
}

.testimonials-container {
	background-color: white;
}

.testimonials-box-container {
	display: flex;
	justify-content: space-around;
	margin: 0px 20px;
	width: calc(100% - 40px);
	align-items: center;
} 

.testimonials-box {
	width: 30%;
}

.testimonials-box-text {
	background-color: white;
	padding: 25px 15px;
	color: grey;
	line-height: 1.5;
	font-style: italic;
	margin-bottom: 40px;
	position: relative;
}

.testimonials-box-person {
	display: flex;
	align-items: center;
}

.textimonials-text-img {
	margin: 0px 20px;
}

.testimonials-box-name {
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.testimonials-box-title {
	font-size: 0.9rem;
	font-weight: 500;
	color: grey;
}

/* ========== Custom (Design) ========= */
.design-content {
	padding: 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 10;
}

.design-container {
	background-image: url('img/state.png');
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

.design-heading {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}
.design-text {
	color: rgba(255,255,255, 0.6);
	margin-bottom: 30px;
	color: gray;
	line-height: 1.7;
	text-align: center;
}

.design-line {
	background-color: white;
	height: 2px;
	width: 5%;
	margin-bottom: 30px;
	margin-left: auto;
    margin-right: auto;
}

.design-link {
	color: white;
	border: 2px solid white;
	padding: 10px 25px;
	margin-bottom: 65px;
}

.design-link:hover {
	color: black;
	background-color: white;
}

/* ============== Contact ============= */
.contact-container {
	background-color: white;
}

.contact-content {
	padding: 70px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-heading {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.contact-line {
	height: 2px;
	width: 10%;
	background-color: #ea8f4c;
	margin-bottom: 30px;
}

.contact-text {
	color: gray;
	line-height: 1.7;
	margin-bottom: 70px;
	text-align: center;
}

.contact-form {
    align-items: center;
}

.contact-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px 20px;
}

.contact-form {
	width: 100%;
    float: left;
}

.form-input-container {
	width: 50%;
	margin-bottom: 20px;
}

.contact-form-input {
	border: none;
	width: calc(100% - 105px);
	margin: 20px 40px;
	padding: 10px 10px;
	font-size: 1rem;
	border: 2px solid white;
	border-bottom: 2px solid grey;
}

.form-textarea-container {
	width: 50%;
	margin-bottom: 20px;
}

.contact-form-textarea {
	height: 183px;
	resize: none;
}

.form-submit-container {
	width: 100%;
}

.contact-form-submit {
	margin-left: calc(50% - 50px);
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
}

.contact-form-submit:hover, .contact-form-submit:focus {
	outline: none;
	background-color: #000000;
	box-shadow: none;	
}

.contact-form-submit {
	padding: 10px 20px;
	color: white;
	font-weight: 600;
	background-color: #ea8f4c;
	border-radius: 5px;
	box-shadow: 0px 1px 2px grey;
}

/* ============== Footer ============= */
footer{
    background-color: #000;
    text-align: center;
}

.div_footer{
    padding-top: 18px;
}
.div_footer a{
    font-size: 20px;
    margin-right: 20px;
    color: white;
    transition: 0.5s;
}

.div_footer a:hover{
    color: #ff8b38;
}

footer p{
    padding: 8px 0;
    font-family: "Open Sans";
    font-size: 12px;
    color: #616161;
}

/* ============== Social ============= */
.social {                                     
    display: flex;                            
}                                              

.social__item {                                  
    display: flex;                              
    justify-content: center;                
    align-items: center;                        
    width: 40px;                                 
    height: 40px;                                
    margin-right: 4px;                          
    background-color: #fff;                     
    border: 1px solid #e8ecee;                 
    transition: background .1s linear;          
}                                             

.social__item:hover {                            
    background-color: #e8ecee;                  
}                                              

.social__item:hover .social__icon {             
    fill: #000;                                 
}                                               

.social__icon {                                 
    display: block;                             
    height: 45px;                            
    fill: #c6cacc;                             
    transition: fill .1s linear;              
}           

/* ====== Social footer ======= */
.social__footer {                                     
    display: flex;       
	justify-content: center;                
    align-items: center;                      
}        

.social__item__footer {                                  
    display: flex;                              
    justify-content: center;                
    align-items: center;      
	text-align: center;                  
    width: 25px;                                 
    height: 25px;                                
    margin-right: 4px;                          
    background-color: rgb(0, 0, 0);                     
    border: 1px solid #000000;                 
    transition: background .1s linear;          
}                                             

.social__item__footer:hover {                            
    background-color: #000000;                  
}                                              

.social__icon__footer {                                 
    display: block;                             
    height: 45px;                            
    fill: #c6cacc;                             
    transition: fill .1s linear;              
}    

.social__icon__footer:hover {                                                       
    fill: #ea8f4c;                                           
}    